<div class="projects-section">

  <div class="menu-container">
    <a href="#" class="menu" [routerLink]="['./experience']" >
      <span>Experience</span>
      <mat-icon class="material-symbols-rounded">
        work_history
      </mat-icon>
    </a>
    <a href="#" class="menu">
      <span>Projects</span>
      <mat-icon class="material-symbols-rounded">
        emoji_objects
      </mat-icon>
    </a>
    <a href="https://mathutechblog.wordpress.com/blog/" class="menu" target="_blank">
      <span>Blog</span>
      <mat-icon class="material-symbols-rounded">
        rss_feed
      </mat-icon>
    </a>
  </div>
</div>
