<div class="container-fluid">
  <div class="table-container">
    <button mat-raised-button color="primary" [routerLink]="['add-certificate']">
      Add Certificate
    </button>

    <div class="col margin-top{{ selectedRow ? ' shrink-table' : '' }}">
      <table mat-table [dataSource]="certificates" class="mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>Index</th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>URL</th>
          <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef>Date Created</th>
          <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleClick({rowData: row, event: $event})"></tr>
      </table>
    </div>
  </div>
  <app-add-certificate *ngIf="selectedRow" [selectedRow]="selectedRow" (onDelete)="onDelete()"></app-add-certificate>
</div>
