@if (cardDetail && cardDetail.routeName.length === 0) {
  <a
    class="menu d-flex flex-column justify-content-center"
    href="{{ cardDetail ? cardDetail.link : '' }}"
    target="_blank"
    >
    <mat-icon class="material-symbols-rounded">
      {{ cardDetail ? cardDetail.icon : "" }}
    </mat-icon>
    <span>{{ cardDetail ? cardDetail.cardName : "" }}</span>
  </a>
}

@if (cardDetail && cardDetail.routeName.length > 0) {
  <a
    class="menu d-flex flex-column justify-content-center"
    [routerLink]="cardDetail ? cardDetail.routeName : ''"
    >
    <mat-icon class="material-symbols-rounded">
      {{ cardDetail ? cardDetail.icon : "" }}
    </mat-icon>
    <span>{{ cardDetail ? cardDetail.cardName : "" }}</span>
  </a>
}
