@import "../../../styles.scss";

.navbar-container {
  text-align: center;
  margin-top: 20px;
  background-color: $backgroundColor;

  li {
    list-style: none;
    display: inline-block;
    margin: 20px;
  }
}

.link-button {
  text-decoration: none;
  padding: 5px;
  width: 5%;
  transition: .5s;
}

.link-button:hover {
  text-decoration: none;
  padding: 5px;
  color: white;
  border-bottom: 3px solid #ffca28;
  width: 100%;
}

a {
  text-decoration: none;
}
