<div class="container-fluid">
  <div class="table-container col margin-top{{ selectedRow ? ' shrink-table' : '' }}">
    <button mat-raised-button color="primary" [routerLink]="['add-article']">
      Add Article
    </button>
    <div>
      <table mat-table [dataSource]="articles" class="mat-elevation-z8 table-max-height">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>Index</th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
        </ng-container>

        <ng-container matColumnDef="dateUpdated">
          <th mat-header-cell *matHeaderCellDef>Start Date</th>
          <td mat-cell *matCellDef="let element"> {{element.dateUpdated}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleClick({rowData: row, event: $event})"></tr>
      </table>
    </div>
  </div>
  <app-add-article *ngIf="selectedRow" [selectedRow]="selectedRow" (onDelete)="onDelete()"></app-add-article>
</div>
