@import '/assets/styles/variables';

.navbar {
  border-radius: $buttonRadius8;
  height: 100%;
  align-items: start;

  .nav-wrapper {

    .navbar-nav {
      display: flex;
      flex-direction: column;
    }
  }
}
