<mat-nav-list>
  <mat-list-item [routerLink]="['admin', 'dashboard']">
    <span>Overview</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['admin', 'dashboard', 'projects']">
    <span>Projects</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['admin', 'dashboard', 'experiences']">
    <span>Experiences</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['admin', 'dashboard', 'articles']">
    <span>Articles</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['admin', 'dashboard', 'achievements']">
    <span>Achievements</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['admin', 'dashboard', 'certificates']">
    <span>Certificates</span>
  </mat-list-item>
</mat-nav-list>
