@use "../../../../styles/variables" as var;

mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  mat-list-item {
    margin: 10px;
    cursor: pointer;

    button {
      margin: 10px 10px 0 10px;
      z-index: 1;
    }
  }
}
