<div class="container-fluid">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="d-flex flex-wrap flex-row">
      <div class="my-avatar mr-3">
        <img src="{{ avatarImage }}"/>
      </div>
      <div class="my-description d-flex flex-column mx-4">
        <span class="name">{{ myDetails.name }}</span>
        <span class="headline">{{ myDetails.headline }}</span>
        <span class="description p-2 mt-2 font-weight-light">{{ myDetails.description }}</span>

        <div class="skills-section d-flex flex-wrap my-2">
          <div class="skills-title">Skills</div>
          <div class="row d-flex flex-wrap">
            <div class="skill col-sm-6 d-flex flex-row flex-wrap" *ngFor="let item of myDetails.skillArr; index as i">
              <div class="d-flex flex-row justify-content-between mx-2">
                <span>{{ item.name }}</span>
                <span> {{ item.rating }}</span>
              </div>
              <mat-progress-bar class="rounded" mode="determinate" value="{{ calculatePercentage(item.rating) }}" color="accent"></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of header-section -->

  <div class="d-flex flex-wrap justify-content-center">
    <app-card class="col-3 m-3" *ngFor="let item of cardDetails" [cardDetail]="item"></app-card>
  </div>
</div> <!-- End of home-container -->
