$backgroundColor: #263238;
$surfaceColor: #1c2429;
$backgroundColorTransparent: #1e272c;
$accentColor: #ffca28;
$primaryColor: #6CA9BC;
$borderColor: #3b4f58;
$fontColor: #FFFFFF;
$buttonDefaultRadius: 3px;
$buttonRadius8: 8px;
