/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@use "theme/light";
@use "variables" as var;

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Work Sans';
  margin: 0px;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);

  app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);

    .mat-mdc-card {
      background-color: var(--md-sys-color-surface-variant);
      color: var(--md-sys-color-on-surface)
    }

    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
      background-color: var(--md-sys-color-primary-container);
    }

    mat-icon {
      color: var(--md-sys-color-on-surface);
    }
  }
}

/* width */
::-webkit-scrollbar {
  padding: 0px 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
  scroll-margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sub-titles {
  text-transform: uppercase;
  font-weight: 700;
}

.full-width {
  width: 100%;
}

.shrink-table {
  width: 50%;
}

blockquote {
  border-left: 3px solid rgba(255,255,255,0.21);
  padding: 1px 1em;
  color: var(--md-sys-color-inverse-surface);
  background-color: var(--md-sys-color-inverse-on-surface);
}

markdown span:has(> img) img {
  padding: 5px;
  border-radius: 8px;
  transition: .2s ease, -webkit-transform .3s ease;
}

markdown span:has(> img) img:hover {
  box-shadow: 0 4px 8px rgba(0,0,0, .4);
}

.social-icons {
  width: 30px;
  height: 30px;
}

:root {
  .mat-mdc-chip.mat-mdc-standard-chip {
    --mat-chip-container-shape-radius: 8px;
  }
}

.mat-mdc-standard-chip {
  color: var(--md-sys-color-on-primary-container);
}

.form-wrapper {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.flex-layout {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-colum {
  flex-direction: column;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 1em;
}

.gap-3 {
  gap: 1em;
}

pre {
  margin: 20px;
  overflow: auto;
  padding: 15px 0;
  border-radius: 8px;
  color: var(--md-sys-color-on-surface-variant);
  background: var(--md-sys-color-surface-variant);
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.3);

  & {
    z-index: -2;
  }
}

p code {
  margin: 20px;
  padding: 0 5px;
  border-radius: 8px;
  color: var(--md-sys-color-on-surface-variant);
  background: var(--md-sys-color-surface-variant);
}

.container-fluid {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

a:link {
  color: #64B5F6;
}

a:visited {
  color: #9575CD;
}

a:active {
  color: #2196F3;
}

a:hover {
  color: #BBDEFB;
}