<form [formGroup]="addProjectForm" (ngSubmit)="add()" class="mt-1 form-wrapper">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ projectNameLabel }}</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="{{ projectNameLabel }}"
          formControlName="projectName"
          value="{{ selectedRow ? selectedRow.projectName : '' }}"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ urlLabel }}</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="{{ urlLabel }}"
          formControlName="url"
          value="{{ selectedRow ? selectedRow.url : '' }}"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ contentUrlLabel }}</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="{{ contentUrlLabel }}"
          formControlName="contentUrl"
          value="{{ selectedRow ? selectedRow.contentUrl : '' }}"
          (input)="retrieveContent()"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <app-custom-textarea
      [label]="descriptionLabel"
      formControlName="text"
      [switchEditorToolbar]="true"
      [text]="selectedRow ? selectedRow.projectDescription : ''"
    ></app-custom-textarea>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ statusLabel }}</mat-label>
        <mat-chip-grid #chipGridStatus>
          <mat-chip-row
            *ngIf="
              (selectedRow && selectedRow.projectStatus != '') ||
              selectedProjectStatus
            "
          >
            {{ selectedProjectStatus }}
          </mat-chip-row>

          <input
            type="text"
            placeholder="{{ statusLabel }}"
            [matChipInputFor]="chipGridStatus"
            formControlName="projectStatus"
            [matAutocomplete]="autoStatus"
          />
        </mat-chip-grid>
        <mat-autocomplete
          autoActiveFirstOption
          #autoStatus="matAutocomplete"
          (optionSelected)="selectedStatus($event)"
        >
          <mat-option *ngFor="let status of projectStatuses" [value]="status">{{
            status
          }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ typeLabel }}</mat-label>
        <mat-chip-grid #chipGridType>
          <mat-chip-row
            *ngIf="(selectedRow && selectedRow.type != '') || selectedProjectType"
          >
            {{ selectedProjectType }}
          </mat-chip-row>

          <input
            type="text"
            placeholder="{{ typeLabel }}"
            [matChipInputFor]="chipGridType"
            formControlName="type"
            [matAutocomplete]="autoType"
          />
        </mat-chip-grid>

        <mat-autocomplete
            autoActiveFirstOption
            #autoType="matAutocomplete"
            (optionSelected)="selectedType($event)"
          >
            <mat-option *ngFor="let type of projectTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex">
    <button
      mat-raised-button
      class="btn btn-primary"
      color="primary"
      type="submit"
    >
      Save
    </button>
    <button
      mat-raised-button
      *ngIf="selectedRow"
      class="btn btn-primary"
      color="warn"
      type="button"
      (click)="delete()"
    >
      Delete
    </button>
  </div>
</form>
