<form [formGroup]="addProjectForm" (ngSubmit)="registerProject">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{projectNameLabel}}</mat-label>
        <input matInput type="text" class="form-control" placeholder="{{projectNameLabel}}" formControlName="projectName" value="{{selectedRow ? selectedRow.projectName : ''}}">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{urlLabel}}</mat-label>
        <input matInput type="text" class="form-control" placeholder="{{urlLabel}}" formControlName="url" value="{{selectedRow ? selectedRow.url: ''}}">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{descriptionLabel}}</mat-label>
      <textarea matInput type="text" class="form-control" placeholder="{{descriptionLabel}}"  formControlName="projectDescription" value="{{selectedRow ? selectedRow.projectDescription : ''}}"></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{statusLabel}}</mat-label>
      <mat-chip-grid #chipGrid>
        <mat-chip-row *ngIf="(selectedRow && selectedRow.projectStatus != '') || selectedProjectStatus">
          {{ selectedProjectStatus }}
        </mat-chip-row>

        <input type="text"
          placeholder="{{statusLabel}}"
          [matChipInputFor]="chipGrid"
          formControlName="projectStatus"
          [matAutocomplete]="auto">
      </mat-chip-grid>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectedStatus($event)">
        <mat-option *ngFor="let status of projectStatuses" [value]="status">{{status}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <button mat-raised-button class="btn btn-primary" color="primary" type="submit" (click)="registerProject()">Save</button>
</form>
