@use '../../../../styles/variables' as var;

mat-toolbar {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar-toggler {
  display: none;
}

xng-breadcrumb {
  font-size: small;
}

@media (max-width: 599px) {
  .navbar-toggler {
    display: block;
  }

  .collapse {
    display: none;
  }

  .xng-breadcrumb {
    display: none;
  }
}

a {
  text-decoration: none;

  .social-icons {
    width: 20px;
    height: 20px;
  }
}

.socials {
  max-width: fit-content;
}

.logout {
  height: 30px;
  padding: 0 5px;
  font-size: 16px;
  border-radius: var.$buttonDefaultRadius;
  margin: 0;
}
