@import "/src/assets/styles/styles.scss";

.navbar-container {
  text-align: center;
  background-color: $backgroundColor;

  ul {
    margin: 0px;
  }

  li {
    list-style: none;
    display: inline-block;
    padding: 20px;
  }
}

.link-button {
  text-decoration: none;
  padding: 5px;
  width: 5%;
  transition: .5s;
  color: $primaryColor;
  text-transform: uppercase;
  font-weight: 700;
}

.link-button:hover {
  text-decoration: none;
  padding: 5px;
  color: white;
  border-bottom: 3px solid #ffca28;
  width: 100%;
}

a {
  text-decoration: none;
}
