<nav class="navbar-container">
  <a class="link-button sub-titles" [routerLink]="['/']" routerLinkActive="active">Home</a>
  <a class="link-button sub-titles" [routerLink]="['./experience']" routerLinkActive="active">Experience</a>
  <!-- <a class="link-button sub-titles" routerLink="./portfolio" routerLinkActive="active">Portfolio</a>
  <a class="link-button sub-titles" routerLink="./about" routerLinkActive="active">About</a>
  <a class="link-button sub-titles" routerLink="./contacts" routerLinkActive="active">Contacts</a> -->
</nav>
