@import "../assets/styles/variables";

.navbar-nav {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;

  .social-icons {
    width: 20px;
    height: 20px;
  }
}

xng-breadcrumb {
  font-size: small;
}

mat-icon {
  color: white;
}

.socials {
  max-width: fit-content;
}
