@use "../../../../../styles/variables" as var;

.form-wrapper {
  width: 100%;
  margin: 30px 0px 70px 0px;
  border-radius: 8px;
}

.input-text-field {
  width: 100%;
}

.login {
  border-radius: var.$buttonDefaultRadius;
}
