<mat-toolbar>
  <div class="navbar-brand">
    <a [routerLink]="['/']">Home</a>
  </div>

  <span class="navbar-spacer"></span>

  <div class="socials {{ collapse ? '' :'collapse'}}" id="navbarNavDropdown">
    <mat-list>
      <mat-list-item class="nav-item mr-4" *ngIf="isAuth && isDashboard">
        <button mat-raised-button class="btn btn-primary logout" color="primary" (click)="logout()">Logout</button>
      </mat-list-item>
      <mat-list-item class="nav-item mx-2">
        <a target="_blank" href="https://linkedin.com/in/benard-mathu">
          <img class="social-icons" src="./assets/images/linkedin.svg" alt="LinkedIn" />
        </a>
      </mat-list-item>
      <mat-list-item class="nav-item mx-2">
        <a target="_blank" href="https://twitter.com/beniemathu">
          <img class="social-icons" src="./assets/images/icon_x.svg" alt="Twitter" />
        </a>
      </mat-list-item>
      <mat-list-item class="nav-item mx-2">
        <a target="_blank" href="https://instagram.com/benard.mathu?igshid=ZDdkNTZiNTM=">
          <img class="social-icons" src="./assets/images/instagram.svg" alt="Instagram" />
        </a>
      </mat-list-item>
      <mat-list-item class="nav-item mx-2">
        <a target="_blank" href="https://github.com/ben-mathu">
          <img class="social-icons" src="./assets/images/github.svg" width="30" height="30" alt="Github: ben-mathu" />
        </a>
      </mat-list-item>
    </mat-list>
  </div>

  <button mat-icon-button class="navbar-toggler" type="button" (click)="toggleSocialButtons()">
    <span class="material-symbols-rounded">
      <mat-icon>menu</mat-icon>
    </span>
  </button>

  <!-- <a class="link-button sub-titles" routerLink="./portfolio" routerLinkActive="active">Portfolio</a>
  <a class="link-button sub-titles" routerLink="./about" routerLinkActive="active">About</a>
  <a class="link-button sub-titles" routerLink="./contacts" routerLinkActive="active">Contacts</a> -->
</mat-toolbar>
