<div class="container">
  <div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="mb-3">
        <mat-form-field class="input-text-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
        </mat-form-field>
        <!-- <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
      </div>
      <div class="mb-3">
        <mat-form-field class="input-text-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" class="form-control" id="exampleInputPassword1" [type]="passwordVisible ? 'text' : 'password'" formControlName="password">
          <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible; onRevealPasswordEvent($event)">
            <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
        <!-- <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"> -->
      </div>
      <button mat-flat-button class="btn btn-primary login" color="primary" type="submit">Login</button>
    </form>
  </div>
</div>
