<span [routerLink]="['admin']"></span>
<navbar [headerData]="myDetails" [isAuth]="isAuth" [isDashboard]="isDashboard"></navbar>
<div class="site-container">
  <app-sidenav *ngIf="isAuth && isDashboard" [url]="url"></app-sidenav>
  <router-outlet class="container-wrapper">
    <div style="margin: 10px">
      <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
      <ng-template #iconTemplate>
        <mat-icon>arrow_right</mat-icon>
      </ng-template>
    </div>
  </router-outlet>
</div>
<custom-footer [myDetails]="myDetails"></custom-footer>
