@use '../styles/variables' as var;

app-footer {
  margin-top: auto;
}

.site-container {
  margin: 0 10px;
  // max-width: var.$max-width;
}

.site-wrapper {
  margin: 0 auto;
  max-width: var.$max-width;
}

.den {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 100% - 2;
  left: 100% - 1.6;
  cursor: pointer;
}
