@use "../../../../styles/variables" as var;

.my-avatar {
  max-width: 270px;
  max-height: 270px;
  border: 1px solid #3b4f58;
  border-radius: 15px;
  overflow: hidden;

  mat-icon {
    width: inherit;
    height: inherit;
    font-size: 145px;
  }
}

.my-description {
  max-width: 60%;

  .name {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .headline {
    font-size: 18px;
  }

  .description {
    border: 1px solid var.$borderColor;
    line-height: 25px;
    border-radius: 10px;
    font-size: 14px;
  }
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: 20px 0px;
}

.card {
  // max-width: 400px;
  // max-height: 600px;
  // margin-bottom: 20px;
  overflow: auto;

  display: flex;
  cursor: pointer;
  transition: .2s ease, -webkit-transform .3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-image {
    width: 60px;
    height: 60px;
    border-radius: 20%;
  }
}

.title-card {
  margin: 30px auto;
}

.card:hover {
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0,0,0, .4);
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-wrapper .long {
  grid-column: span 2;
  grid-row: span 1;

  button {
    width: 100%;
    height: 100%;
  }
}
