@use "../../../../styles/variables" as var;

/**
 * Header
 */

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.my-avatar {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #3b4f58;
  border-radius: 15px;
  overflow: hidden;

  mat-icon {
    width: inherit;
    height: inherit;
    font-size: 145px;
  }
}

.my-description {
  max-width: 75%;
  display: flex;
  flex-direction: column;

  .name {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .headline {
    font-size: 18px;
    margin-bottom: 1em;
  }

  .description {
    border: 1px solid var.$borderColor;
    line-height: 25px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 1em;
    padding: 10px;
  }
}

.skills-title {
  font-weight: 600;
  font-size: 18px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.skill {
  width: 100%;
}

@media (max-width: var.$small-max-width) {
  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .my-description {
    max-width: fit-content;

    .name {
      text-align: center;
    }

    .headline {
      text-align: center;
    }
  }
}

/*
 * Grid
 */

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: 20px 0;
}

mat-card {
  border-width: 0 10px 10px 0;
}

.card {
  // max-width: 400px;
  // max-height: 600px;
  // margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  transition: .2s ease, -webkit-transform .3s ease;

  mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-image {
    width: 60px;
    height: 60px;
    border-radius: 20%;
  }
}

.title-card {
  margin: 30px auto;
}

.card:hover {
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0,0,0, .4);
}

.grid-wrapper {
  display: grid;

  .wide {
    grid-column: span 2;

    .skill-content {
      display: none;
    }

    button {
      display: none;
    }
  }

  .tall {
    grid-row: span 2;

    .skill-content {
      display: none;
    }

    button {
      display: none;
    }
  }

  .big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .long {
    grid-column: span 2;
    grid-row: span 1;

    .skill-content {
      display: none;
    }

    button {
      display: none;
    }
  }
}

@media (max-width: var.$xsmall-max-width) {
  .grid-wrapper {
    max-width: var.$xsmall-max-width;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
