<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="d-flex flex-wrap flex-row">
    <div class="my-avatar mr-3">
      <img src="{{ myDetails.profile_pic }}" />
    </div>
    <div class="my-description d-flex flex-column mx-4">
      <span class="name">{{ myDetails.name }}</span>
      <span class="headline">{{ myDetails.headline }}</span>
      <span class="description p-2 mt-2 font-weight-light">{{
        myDetails.description
      }}</span>

      <div class="skills-section d-flex flex-column my-2">
        <div class="skills-title">Skills</div>
        <div class="row d-flex flex-wrap">
          <skill-rating
            class="skill col-sm-6 d-flex flex-row flex-wrap"
            *ngFor="let item of myDetails.skillArr"
            [myInfo]="item"
          ></skill-rating>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of header-section -->

<!-- <div *ngIf="yearsOfExperience" class="card title-card">
  <blockquote class="blockquote mb-0 card-body">
    <h4>{{yearsOfExperience}}</h4>
    <p>Years of Experience</p>
  </blockquote>
</div> -->

<div class="grid-wrapper">
  <mat-card *ngFor="let experience of experiences" class="card{{genClassName[experience.index]}}" [routerLink]="['blog', experience.key]">
    <mat-card-header>
      <mat-card-title>{{experience.title}}</mat-card-title>
      <mat-card-subtitle>
        {{experience.company}} <span class="badge text-bg-primary">Experience</span>
        <br />
        <br />
        <i>{{experience.startDate}}-{{experience.endDate}}</i>
      </mat-card-subtitle>
      <img mat-card-sm-image src="{{experience.logoUrl}}" class="logo-image" />
    </mat-card-header>
    <img mat-card-image src="{{experience.image}}" *ngIf="experience.image" />
    <mat-card-content>
      <markdown ngPreserveWhitespaces [data]="experience.description">
      </markdown>
      Skills: <i class="badge text-bg-light me-1" *ngFor="let skill of experience.skills">{{skill}}</i>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let project of projects" class="card{{genProjectsClassName[project.index]}}" [routerLink]="['blog', project.key]">
    <mat-card-header>
      <mat-card-title>{{project.projectName}}</mat-card-title>
      <mat-card-subtitle><span class="badge text-bg-primary">{{ project.type }}</span></mat-card-subtitle>
      <!-- <mat-card-subtitle>
        {{project.company}}
        <br />
        <br />
        <i>{{experience.startDate}}-{{experience.endDate}}</i>
      </mat-card-subtitle> -->
      <!-- <img mat-card-sm-image src="{{project.logoUrl}}" class="logo-image" /> -->
    </mat-card-header>
    <!-- <img mat-card-image src="{{experience.image}}" *ngIf="experience.image" /> -->
    <mat-card-content>
      <markdown ngPreserveWhitespaces [data]="project.projectDescription"></markdown>
      <i>{{project.projectStatus}}</i>
    </mat-card-content>
    <mat-card-actions>
      <a href="{{project.url}}" target="_blank">
        <button mat-button>Go to Project</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngFor="let certificate of certificates" class="card{{genCertificateClassName[certificate.index]}}" [routerLink]="['blog', certificate.key]">
    <mat-card-header>
      <mat-card-title>{{certificate.name}}</mat-card-title>
      <mat-card-subtitle><span class="badge text-bg-primary">Certificate</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a href="{{certificate.url}}" target="_blank">
        <button mat-button>Go to Certificate</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngFor="let achievement of achievements" class="card{{genAchievementClassName[achievement.index]}}" [routerLink]="['blog', achievement.key]">
    <mat-card-header>
      <mat-card-title>{{achievement.name}}</mat-card-title>
      <mat-card-subtitle><span class="badge text-bg-primary">Achievement</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <markdown ngPreserveWhitespaces [data]="achievement.description"></markdown>
    </mat-card-content>
  </mat-card>
</div>
