<div class="footer">
  <div class="follow-me">
    <div class="social-title">Follow Me</div>
    <div class="social-links">
      <ul>
        <li><img class="social-icons" src="assets/images/twitter.svg" /></li>
      </ul>
    </div>
  </div>
  <div class="links">
    <div class="information link-sections">
      <div class="info-title">Information</div>
      <div class="info-links">
        <ul>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
        </ul>
      </div>
    </div>
    <div class="projects link-sections">
      <div class="project-title">Proects</div>
      <div class="project-links">
        <ul>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
        </ul>
      </div>
    </div>
  </div>
</div>
