<div class="footer">
  <div class="follow-me">
    <div class="social-title sub-titles">Follow Me</div>
    <div class="social-links">
      <ul>
        <li>
          <a target="_blank" href="https://linkedin.com/in/benard-mathu">
            <img class="social-icons" src="assets/images/linkedin.svg" />
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/beniemathu">
            <img class="social-icons" src="assets/images/twitter.svg" />
          </a>
        </li>
        <li>
          <a target="_blank" href="https://instagram.com/benard.mathu?igshid=ZDdkNTZiNTM=">
            <img class="social-icons" src="assets/images/instagram.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="links">
    <div class="information link-sections">
      <div class="info-title sub-titles">Information</div>
      <div class="info-links">
        <ul>
          <li>
            <a href="{{ myDetails.cv_url }}" target="_blank">
              <mat-icon>description</mat-icon>
              <span>CV</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="projects link-sections">
      <div class="project-title sub-titles">Projects</div>
      <div class="project-links">
        <ul>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
          <li>Project Something</li>
        </ul>
      </div>
    </div>
  </div>
</div>
