.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  // background-image: url('../../../../assets/images/footer_background.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .links {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    .link-sections {
      margin: 30px;
      text-decoration: none;
    }
  }
}

.info-links {
  width: 300px;

  button {
    width: 100%;
    padding: 10px;
    font-weight: 700;
    justify-content: start;
  }
}

.follow-me {
  margin: 30px;
}

ul {
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 5px;
  }
}

.social-links {
  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
