<mat-list>
  <a mat-list-item target="_blank" href="https://linkedin.com/in/benard-mathu">
    <button mat-icon-button>
      <mat-icon class="social-icons" svgIcon="linkedin"></mat-icon>
    </button>
  </a>
  <a mat-list-item target="_blank" href="https://twitter.com/beniemathu">
    <button mat-icon-button>
      <mat-icon class="social-icons" svgIcon="icon_x"></mat-icon>
    </button>
  </a>
  <a mat-list-item target="_blank" href="https://instagram.com/benard.mathu?igshid=ZDdkNTZiNTM=">
    <button mat-icon-button>
      <mat-icon class="social-icons" svgIcon="instagram"></mat-icon>
    </button>
  </a>
  <a mat-list-item target="_blank" href="https://github.com/ben-mathu">
    <button mat-icon-button>
      <mat-icon class="social-icons" svgIcon="github"></mat-icon>
    </button>
  </a>
</mat-list>
