<mat-list>
  <mat-list-item class="nav-item mx-2">
    <a target="_blank" href="https://linkedin.com/in/benard-mathu">
      <mat-icon class="social-icons" svgIcon="linkedin"></mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item class="nav-item mx-2">
    <a target="_blank" href="https://twitter.com/beniemathu">
      <mat-icon class="social-icons" svgIcon="icon_x"></mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item class="nav-item mx-2">
    <a target="_blank" href="https://instagram.com/benard.mathu?igshid=ZDdkNTZiNTM=">
      <mat-icon class="social-icons" svgIcon="instagram"></mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item class="nav-item mx-2">
    <a target="_blank" href="https://github.com/ben-mathu">
      <mat-icon class="social-icons" svgIcon="github"></mat-icon>
    </a>
  </mat-list-item>
</mat-list>
