<div
  class="carousel-container"
  (mouseenter)="stopInterval()"
  (mouseleave)="startInterval()"
  >
  <div class="slide-container">
    @for (article of articleCarousel; track article; let i = $index) {
      <span
        class="slide"
        [@slideInOut]="getSlideAnimation(i)"
        [routerLink]="['../../', 'article', article.key]"
        >
        <span class="">{{ article.title }}</span>
        <span class="">{{ article.type }}</span>
      </span>
    }
  </div>

  <button mat-icon-button type="button" (click)="previousSlide()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button type="button" (click)="nextSlide()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div class="blog-container {{ project || article ? 'add-margin' : '' }}">
  @if (project !== undefined || article !== undefined) {
    <div class="sidenav-container">
      <!-- Side nav for projects, Tools and articles -->
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodePadding
          matTooltip="{{ node.article.title }}"
          [matTooltipPosition]="'after'"
          aria-label="Button that displays a tooltip when focused or hovered over"
          [routerLink]="['../../', 'article', node.article.key]"
          >
          <button mat-icon-button disabled></button>
          {{ node.article.title }}
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          matTreeNodeToggle
          >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.article.title"
            >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </button>
          {{ utils.capitalize(node.article.title) }}
        </mat-tree-node>
      </mat-tree>
    </div>
  }
  <div class="blog-content-wrapper">
    @if (experience !== undefined || certificate !== undefined || achievement
      !== undefined) {
      <h3>Experience</h3>

      <div class="experience-container">
        @for (experience of experiences; track experience) {
          <mat-card class="card mb-2">
            <mat-card-header>
              <mat-card-title>{{ experience.title }}</mat-card-title>
              <mat-card-subtitle>
                {{ experience.company }}
                <br />
                <br />
                <i>{{ experience.startDate }} to {{ experience.endDate }}</i>
              </mat-card-subtitle>
              @if (experience.logoUrl) {
                <img
                  mat-card-sm-image
                  src="{{ experience.logoUrl }}"
                  class="logo-image"
                  />
              }
            </mat-card-header>
            @if (experience.image) {
              <img
                mat-card-image
                src="{{ experience.image }}"
                />
            }
            <mat-card-content>
              <markdown
                ngPreserveWhitespaces
                [data]="experience.description"
              ></markdown>
              Skills:
              <mat-chip-set
                >@for (skill of experience.skills; track skill) {
                <mat-chip
                  class="badge text-bg-light me-1"
                  >{{ skill }}</mat-chip
                  >
                  }</mat-chip-set
                  >
                </mat-card-content>
              </mat-card>
            }
          </div>

          @if (certificates?.length! > 0) {
            <h3>Certificate</h3>
          }

          <div class="experience-container">
            @for (certificate of certificates; track certificate) {
              <mat-card class="card mb-2">
                <mat-card-header>
                  <mat-card-title>{{ certificate.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <a href="{{ certificate.url }}" target="_blank">
                    <button mat-button>Go to Certificate</button>
                  </a>
                </mat-card-content>
              </mat-card>
            }
          </div>

          @if (achievements?.length! > 0) {
            <h3>Achievement</h3>
          }

          <div class="experience-container">
            @for (achievement of achievements; track achievement) {
              <mat-card class="card mb-2">
                <mat-card-header>
                  <mat-card-title>{{ achievement.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <markdown
                    ngPreserveWhitespaces
                    [data]="achievement.description"
                  ></markdown>
                </mat-card-content>
              </mat-card>
            }
          </div>
          } @if (project !== undefined) {
          <div class="project-header">
            @if (!project.contentUrl) {
              <h1>{{ project.projectName }}</h1>
            }
            @if (project.contentUrl) {
              <i>{{ project.projectStatus }}</i>
            }
            <mat-chip>
              <mat-icon matChipAvatar>construction</mat-icon>
              <span>{{ project.type }}</span>
            </mat-chip>
          </div>
          @if (!project.contentUrl) {
            <i>{{ project.projectStatus }}</i>
          }
          <markdown
            ngPreserveWhitespaces
            [data]="project.projectDescription"
          ></markdown>
          <a href="{{ project.url }}" target="_blank">
            <button mat-button>Go to Project</button>
          </a>
          } @if (article !== undefined) {
          <h3>{{ article.title }}</h3>
          <i>{{ article.dateCreated + "|" + article.dateUpdated }}</i>
          <markdown ngPreserveWhitespaces [data]="article.article"></markdown>

          <div>
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{ article.title }}</mat-card-title>
                <mat-card-subtitle>
                  {{ article.author }}
                  <br />
                  <br />
                  <i>{{ article.dateCreated + "|" + article.dateUpdated }}</i>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <markdown
                  ngPreserveWhitespaces
                  [data]="article.article.substring(0, 250) + '...'"
                  >
                </markdown>
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    </div>
