<div class="container-fluid">
  <div class="grid-wrapper">
    <div class="card">
      <blockquote class="blockquote mb-0 card-body">
        <h4>{{yearsOfExperience}}</h4>
        <p>Years of Experience</p>
      </blockquote>
    </div>
    <mat-card *ngFor="let experience of experiences" class="card{{genClassName[experience.index]}}">
      <mat-card-header>
        <mat-card-title>{{experience.title}}</mat-card-title>
        <mat-card-subtitle>
          {{experience.company}}
          <br />
          <br />
          <i>{{experience.startDate}}-{{experience.endDate}}</i>
        </mat-card-subtitle>
        <img mat-card-sm-image src="{{experience.logoUrl}}" class="logo-image" />
      </mat-card-header>
      <img mat-card-image src="{{experience.image}}" *ngIf="experience.image" />
      <mat-card-content>
        <markdown ngPreserveWhitespaces [data]="experience.description">
        </markdown>
        Skills: <i *ngFor="let skill of experience.skills">{{skill}}</i>
      </mat-card-content>
    </mat-card>
    <!-- <div class="card{{getClass()}}">
      <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
    </div>
    <div class="card{{getClass()}}">
      <img src="https://images.unsplash.com/photo-1588117472013-59bb13edafec?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
    </div>
    <div class="card{{getClass()}}">
      <img src="https://images.unsplash.com/photo-1587588354456-ae376af71a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" />
    </div>
    <div class="card{{getClass()}}">
      <img src=" https://images.unsplash.com/photo-1558980663-3685c1d673c4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=60" alt="" />
    </div>
    <div class="card{{getClass()}}">
      <img src="https://images.unsplash.com/photo-1588499756884-d72584d84df5?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80" alt="" />
    </div>
    <div class="card{{getClass()}}">
      <img src="https://images.unsplash.com/photo-1588117472013-59bb13edafec?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
    </div>
    <div class="card{{getClass()}}">
      <img src="https://images.unsplash.com/photo-1588492885706-b8917f06df77?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1951&amp;q=80" alt="" />
    </div> -->
    <div class="card">
      <blockquote class="blockquote mb-0 card-body">
        <h4>{{numberOfProjects}}</h4>
        <p>Projects</p>
      </blockquote>
    </div>
    <mat-card *ngFor="let project of projects" class="card{{genClassName[project.index]}}">
      <mat-card-header>
        <mat-card-title>{{project.projectName}}</mat-card-title>
        <!-- <mat-card-subtitle>
          {{project.company}}
          <br />
          <br />
          <i>{{experience.startDate}}-{{experience.endDate}}</i>
        </mat-card-subtitle> -->
        <!-- <img mat-card-sm-image src="{{project.logoUrl}}" class="logo-image" /> -->
      </mat-card-header>
      <!-- <img mat-card-image src="{{experience.image}}" *ngIf="experience.image" /> -->
      <mat-card-content>
        <markdown ngPreserveWhitespaces [data]="project.projectDescription"></markdown>
        <i>{{project.projectStatus}}</i>
      </mat-card-content>
      <mat-card-actions>
        <a href="{{project.url}}" target="_blank">
          <button mat-button>Go to Project</button>
        </a>
      </mat-card-actions>
    </mat-card>
    <!-- <div class="card{{getClass()}}">
      <img src="https://images.unsplash.com/photo-1586521995568-39abaa0c2311?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80" alt="" />
    </div> -->
  </div>

  <a class="card" href="https://mathutechblog.wordpress.com/contact/" target="_blank">
    <button mat-outlined-button color="primary">Let's Talk</button>
  </a>
</div>
