<div class="carousel-container">
  <div class="slide-container">
    <span class="slide" [@slideInOut]="getSlideAnimation(i)" *ngFor="let article of articleCarousel; index as i" [routerLink]="['../../', 'article', article.key]">
      <span class="">{{ article.title }}</span>
      <span class="">{{ article.type }}</span>
    </span>
  </div>

  <button mat-icon-button type="button" (click)="previousSlide()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button type="button" (click)="nextSlide()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div class="blog-container">
  @if (project !== undefined || article !== undefined) {
    <div class="sidenav-container"><!-- Side nav for projects, Tools and articles -->
      <mat-list>
        <mat-list-item *ngFor="let category of articleMap | keyvalue;">
          <button>
            {{ utils.capitalize(category.key) }}
          </button>
          <mat-list>
            <a mat-list-item href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" *ngFor="let articles of category.value | keyvalue">{{ articles.value.get('title') }}</a>
          </mat-list>
        </mat-list-item>
      </mat-list>
    </div>
  }
  <div class="blog-content-wrapper">
    @if (experience !== undefined || certificate !== undefined || achievement !== undefined) {
      <h3>Experience</h3>

      <div class="experience-container">
        <mat-card *ngFor="let experience of experiences" class="card mb-2">
          <mat-card-header>
            <mat-card-title>{{experience.title}}</mat-card-title>
            <mat-card-subtitle>
              {{experience.company}}
              <br />
              <br />
              <i>{{experience.startDate}} to {{experience.endDate}}</i>
            </mat-card-subtitle>
            <img mat-card-sm-image *ngIf="experience.logoUrl" src="{{experience.logoUrl}}" class="logo-image" />
          </mat-card-header>
          <img mat-card-image src="{{experience.image}}" *ngIf="experience.image" />
          <mat-card-content>
            <markdown ngPreserveWhitespaces [data]="experience.description"></markdown>
            Skills: <i class="badge text-bg-light me-1" *ngFor="let skill of experience.skills">{{skill}}</i>
          </mat-card-content>
        </mat-card>
      </div>

      <h3 *ngIf="certificates?.length! > 0">Certificate</h3>

      <div class="experience-container">
        <mat-card *ngFor="let certificate of certificates" class="card mb-2">
          <mat-card-header>
            <mat-card-title>{{certificate.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <a href="{{certificate.url}}" target="_blank">
              <button mat-button>Go to Certificate</button>
            </a>
          </mat-card-content>
        </mat-card>
      </div>

      <h3 *ngIf="achievements?.length! > 0">Achievement</h3>

      <div class="experience-container">
        <mat-card *ngFor="let achievement of achievements" class="card mb-2">
          <mat-card-header>
            <mat-card-title>{{achievement.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <markdown ngPreserveWhitespaces [data]="achievement.description"></markdown>
          </mat-card-content>
        </mat-card>
      </div>
    }

    @if (project !== undefined) {
      <div>
        <h3>{{ project.projectName }}</h3>
        <div>
          <mat-icon class="h-auto">construction</mat-icon>
          <span>{{ project.type }}</span>
        </div>
      </div>
      <i>{{ project.projectStatus }}</i>
      <markdown ngPreserveWhitespaces [data]="project.projectDescription"></markdown>
      <a href="{{project.url}}" target="_blank">
        <button mat-button>Go to Project</button>
      </a>
    }

    @if (article !== undefined) {
      <h3>{{ article.title }}</h3>
      <i>{{ article.dateCreated + '|' + article.dateUpdated }}</i>
      <markdown ngPreserveWhitespaces [data]="article.blog"></markdown>

      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>
              {{article.author}}
              <br />
              <br />
              <i>{{ article.dateCreated + '|' + article.dateUpdated }}</i>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <markdown ngPreserveWhitespaces [data]="article.blog.substring(0, 250) + '...'">
            </markdown>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>
