@import "/assets/styles/variables";

.carousel-container {
  width: 100%;
  // overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: cyan;
}

.slide-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.slide {
  display: flex;
  flex-direction: column;
  // width: 100%;
  position: relative;
  flex: 0 0 100%;
  top: 0;
  left: 0;
  right: 0;
}

.card {

  mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-image {
    width: 60px;
    height: 60px;
    border-radius: 20%;
  }
}

mat-icon {
  font-size: 18px;
}
