<div class="container">
  <div id="carouselExampleInterval" class="carousel slide w-100 rounded bg-dark p-2 mb-1" data-bs-ride="carousel">
    <div class="carousel-inner w-100">
      <div class="carousel-item {{ i === 0 ? 'active' : '' }}" *ngFor="let blog of blogList; index as i" [routerLink]="['../../', 'blog', blog.get('key')]" (click)="searchForBlog(blog?.get('key'))">
        <span class="d-block w-100 text-secondary fs-6">{{ blog.get('title')?.split(':')![0]}}</span>
        <span class="d-block w-100">{{ blog.get('title')?.split(':')![1]}}</span>
      </div>
    </div>
    <button class="carousel-control-prev rounded" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>
    @if (experience !== undefined) {
      <mat-card *ngFor="let experience of experiences" class="card mb-2">
        <mat-card-header>
          <mat-card-title>{{experience.title}}</mat-card-title>
          <mat-card-subtitle>
            {{experience.company}}
            <br />
            <br />
            <i>{{experience.startDate}}-{{experience.endDate}}</i>
          </mat-card-subtitle>
          <img mat-card-sm-image src="{{experience.logoUrl}}" class="logo-image" />
        </mat-card-header>
        <img mat-card-image src="{{experience.image}}" *ngIf="experience.image" />
        <mat-card-content>
          <markdown ngPreserveWhitespaces [data]="experience.description"></markdown>
          Skills: <i class="badge text-bg-light me-1" *ngFor="let skill of experience.skills">{{skill}}</i>
        </mat-card-content>
      </mat-card>
    }
    
    @if (project !== undefined) {
      <h3>{{ project.projectName }}</h3>
      <i>{{ project.projectStatus }}</i>
      <markdown ngPreserveWhitespaces [data]="project.projectDescription"></markdown>
      <a href="{{project.url}}" target="_blank">
        <button mat-button>Go to Project</button>
      </a>
    }

    @if (article !== undefined) {
      <h3>{{ article.title }}</h3>
      <i>{{ article.dateCreated + '|' + article.dateUpdated }}</i>
      <markdown ngPreserveWhitespaces [data]="article.blog"></markdown>

      <div class="d-flex flex-row">
        <mat-card class="card mb-2">
          <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>
              {{article.author}}
              <br />
              <br />
              <i>{{ article.dateCreated + '|' + article.dateUpdated }}</i>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <markdown ngPreserveWhitespaces [data]="article.blog.substring(0, 250) + '...'">
            </markdown>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>