<form [formGroup]="addArticleForm" class="form-wrapper">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ blogTitleLabel }}</mat-label>
        <input matInput type="text" class="form-control" placeholder="{{ blogTitleLabel }}" formControlName="title"
          value="{{ selectedRow ? selectedRow.title : '' }}" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ blogAuthorLabel }}</mat-label>
        <input matInput type="text" class="form-control" placeholder="{{ blogAuthorLabel }}" formControlName="author"
          value="{{ selectedRow ? selectedRow.author : '' }}" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <app-custom-textarea [label]="blogTextLabel" formControlName="text"
      [switchEditorToolbar]="true"></app-custom-textarea>
  </div>
  <div class="row mb-2">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ tagsLabel }}</mat-label>
      <mat-chip-grid #chipGrid cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        @for (tag of tags; track tag) {
        <mat-chip-row [editable]="true" (edited)="edit(tag, $event)" cdkDrag>
          {{ tag }}
          <button matChipRemove (click)="remove(tag)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }

        <input type="text" placeholder="{{ tagsLabel }}" [matChipInputFor]="chipGrid" formControlName="tags"
          (input)="onChange($event)" />
      </mat-chip-grid>
      <mat-hint>Add tags separated by commas</mat-hint>
    </mat-form-field>
  </div>
  <div class="flex-layout flex-row gap-2">
    <button mat-raised-button class="btn btn-primary" color="primary" type="submit" (click)="add()">
      Save
    </button>
    <button mat-raised-button *ngIf="selectedRow" class="btn btn-primary" color="warn" type="button" (click)="delete()">
      Delete
    </button>
  </div>
</form>
