/* You can add global styles to this file, and also import other style files */
@use "themes/light";
@use "variables" as var;

html, body {
  height: 100%;
  // background-color: var.$backgroundColor;
  font-family: 'Work Sans';
  margin: 0px;

  app-root {
    height: 100%;
    display: flex;
    flex-direction: column;

    .full-width{
      width: 100%;
    }
  }
}

/* width */
::-webkit-scrollbar {
  padding: 0px 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
  scroll-margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sub-titles {
  text-transform: uppercase;
  font-weight: 700;
}

.form-wrapper {
  padding: 10px;
  border-radius: 8px;
}

.full-width {
  width: 100%;
}

.shrink-table {
  width: 50%;
}

blockquote {
  border-left: 3px solid rgba(255,255,255,0.21);
  padding-left: 12px;
  // color: rgba(255,255,255,0.54);
}

markdown span:has(> img) img {
  padding: 5px;
  border-radius: 8px;
  transition: .2s ease, -webkit-transform .3s ease;
}

markdown span:has(> img) img:hover {
  box-shadow: 0 4px 8px rgba(0,0,0, .4);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-standard-chip {
  border-radius: 3px;
}

.social-icons {
  width: 30px;
  height: 30px;
}
