@use 'sass:map';

$cutom-palette: (
  50: #061218,
  100: #111D23,
  200: #263238,
  300: #3C494F,
  400: #546067,
  500: #6C7980,
  600: #86939A,
  700: #A0ADB5,
  800: #BBC8D0,
  900: #D7E4EC,
  A100: #5bb9ff,
  A200: #28a3ff,
  A400: #008bf4,
  A700: #007dda,
  secondary: (
    50: #0F1113,
    100: #191C1D,
    200: #2E3132,
    300: #454749,
    400: #5C5F60,
    500: #757779,
    600: #8F9193,
    700: #AAABAD,
    800: #C5C6C8,
    900: #E1E2E4,
  ),
  tertiary: (
    50: #111015,
    100: #1C1B20,
    200: #313035,
    300: #47464C,
    400: #5F5D64,
    500: #78767C,
    600: #929096,
    700: #ADAAB1,
    800: #C9C5CC,
    900: #E5E1E8,
  ),
  neutral: (
    50: #111111,
    100: #1B1B1C,
    200: #313030,
    300: #474647,
    400: #5F5E5E,
    500: #787777,
    600: #929090,
    700: #ADABAB,
    800: #C8C6C6,
    900: #E5E2E2,
  ),
  neutral-variant: (
    50: #101112,
    100: #1B1C1C,
    200: #303031,
    300: #464747,
    400: #5E5E5F,
    500: #777777,
    600: #919091,
    700: #ACABAB,
    800: #C7C6C6,
    900: #E4E2E2,
  ),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  )
);

$custom-error-palette: (
  50: #ffeae9,
  100: #ffccc8,
  200: #ffaaa4,
  300: #ff8780,
  400: #ff6e64,
  500: #ff5449,
  600: #ff4d42,
  700: #ff4339,
  800: #ff3a31,
  900: #ff2921,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd2d0,
  A700: #ffb9b7,
  contrast: (
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffd2d0,
    A700: #ffb9b7,
  ),
);
