<div class="container-fluid">
  <div class="table-container col margin-top{{ selectedRow ? ' shrink-table' : '' }}">
    <button mat-raised-button color="primary" [routerLink]="['add-log']">
      Add Log
    </button>
    @if (journal.length === 0) {
      <div>
        <p>Your journal is empty</p>
      </div>
    }
    @for (log of journal; track log) {
      <div class="log-container" (click)="handleClick({data: log, event: $event})">
        <div class="log-details">
          <span class="log-title">{{ log.title }}</span>
          <i>{{ log.dateUpdated }}</i>
        </div>
        <span>{{ log.log.substring(0, 50) + '...' }}</span>
      </div>
    }
  </div>
  @if (selectedRow) {
    <app-add-journal [selectedRow]="selectedRow" (onDelete)="onDelete()" (onUpdate)="updateUi({event: $event})"></app-add-journal>
  }
</div>
