<div class="row grid" data-masonry='{"itemSelector": ".grid-item", "columnWidth": 200}'>
  <div class="card grid-item col-sm-6">
    <div class="card-body">
      <h5 class="card-title">Some Title</h5>
      <p class="card-text">We go where no human has gone before</p>
    </div>
  </div>
  <div class="card grid-item grid-item-2 col-sm-6">
    <div class="card-body">
      <h5 class="card-title">Some Title</h5>
      <p class="card-text">We go where no human has gone before</p>
    </div>
  </div>
  <div class="card grid-item col-sm-6">
    <div class="card-body">
      <h5 class="card-title">Some Title</h5>
      <p class="card-text">We go where no human has gone before</p>
    </div>
  </div>
  <div class="card grid-item col-sm-6">
    <div class="card-body">
      <h5 class="card-title">Some Title</h5>
      <p class="card-text">We go where no human has gone before</p>
    </div>
  </div>
  <div class="card grid-item col-sm-6">
    <div class="card-body">
      <h5 class="card-title">Some Title</h5>
      <p class="card-text">We go where no human has gone before</p>
    </div>
  </div>
  <div class="card grid-item col-sm-6">
    <div class="card-body">
      <h5 class="card-title">Some Title</h5>
      <p class="card-text">We go where no human has gone before</p>
    </div>
  </div>
</div> <!-- exp-grid-container End -->
