<form [formGroup]="addCertificateForm" class="form-wrapper">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ certificateNameLabel }}</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="{{ certificateNameLabel }}"
          formControlName="name"
          value="{{ selectedRow ? selectedRow.name : '' }}"
          />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ certificateUrlLabel }}</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="{{ certificateUrlLabel }}"
          formControlName="url"
          value="{{ selectedRow ? selectedRow.url : '' }}"
          />
      </mat-form-field>
    </div>
  </div>
  <div class="flex-layout flex-row gap-2">
    <button
      mat-raised-button
      class="btn btn-primary"
      color="primary"
      type="submit"
      (click)="add()"
      >
      Save
    </button>
    @if (selectedRow) {
      <button
        mat-raised-button
        class="btn btn-primary"
        color="warn"
        type="button"
        (click)="delete()"
        >
        Delete
      </button>
    }
  </div>
</form>
